@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@400;700&family=Poppins&display=swap');

:root{
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .container {
    display: flex;
    align-items: center;
}

.cabeçalho {
    background-color: var(--branco);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}


.container__imagem {
    padding: 1em;
    width: 5%;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--laranja);
}

.lista-menu__titulo {
    color: var(--branco);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    align-items: center;
    display: none;
}

  .conteudo-principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    align-items: center;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span {
    align-items: center;
    color: var(--verde);
}
.botao {
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botoes {
    display: block;
}
.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display:block;
}

.aba-conteudo{
    display: none;
}
#aba-conteudos-titulos-ccm{
    font-size: 26px;
    text-align: center;
    color: var(--botao-ativo);
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

.contador{
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }
}

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }

    .estudante{
    padding: 12px 0;
    color:white;
   }

.estudante-imagem{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 28px;
    color: white;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 28px;
    color: white;
}

.rodape{
    background-color: black;
    text-align: center;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
